.ilc-wrapper {
  min-height: 100%;
  display: flex;
}
.ilc-dropdown {
  width: 100%;
  max-width: 227px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 11px;
    z-index: 1000;
    border: 2px solid #000;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
  }
}